<h1>Cocktail:<%= @cocktail.name %></h1>

<div class="container" style="border-style: dotted;">

	<p><strong>Description:</strong></p>

	<% @cocktail.doses.each do |dose| %>
		<ul>
			<li>
		      <%= dose.description %>
		      <%= " of " %>
		      <%= dose.ingredient.name %>
		     </li>
	     </ul>
	  <% end %>

	<p><strong>Commands:</strong></p>

	<%= link_to "Add a dose", new_cocktail_dose_path(@cocktail) %>
	<p></p>

	<%= link_to "Back to cocktails list", cocktails_path  %>

</div>
